<style>
    #art_image {
        float: left;
        margin-right: 10px;
    }

    @media (max-width: 800px) {
        #art_image {
            float: none;
        }
    }

    .tbl {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        white-space: nowrap;
    }

    .row {
        display: flex;
        min-height: 25px;
    }

    .cell {
        flex: 4;
        border: 1px solid black;
    }

    .cell.span4-5 {
        flex: 8 12px;
    }

    .cell.span3-4 {
        flex: 8 12px;
    }

    .cell.span3-5 {
        flex: 12 24px;
    }

    .row .cell {
        padding: 5px;
        box-sizing: border-box;
        display: inline;
    }

    .row:first-child .cell {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        min-height: 240px;
        border: none;
        margin: 0;
        padding: 0;
    }
</style>